<p>
  <strong>Name:</strong>
  <%= @workout.name %>
</p>
<% if @workout.private %>
<p>This is a private workout.</p>
<% end %>
<p>Exercises:
  <ul>
  <% @workout.exercises.each do |exercise| %>
    <li><%= "#{exercise.name}, Type: #{exercise.cat}, Length: #{exercise.len}" %></li>
  <% end %>
  </ul>
</p>
</br>

<%= link_to "Play this workout", "#{workout_path(@workout)}/play" %>
</br></br></br>
<%= link_to 'Edit', edit_workout_path(@workout) %>
